<label class="card__collection flex align-center">
  <span class="card__id"><%= card.id %></span>
  <%= tag.span card.collection.name, class: "card__collection-name overflow-ellipsis" %>
  <%= yield %>
</label>