:root {
  --splat-size: 30vw;
}

.windshield {
  background-color: var(--color-subtle);
  border-radius: 2em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-block: clamp(var(--block-space), 3%, calc(var(--block-space) * 2));
  padding-inline: clamp(var(--inline-space), 5%, calc(var(--inline-space) * 3));

  > * {
    flex-shrink: 1;
  }
}

.splat {
  --hover-size: 0;
  --splat-color: var(--color-ink);
  --splat-rotate: 20deg;

  aspect-ratio: 1;
  block-size: var(--splat-size);
  color: var(--color-ink-reversed);
  container-type: inline-size;
  display: grid;
  place-items: center;
  position: relative;

  .windshield & {
    animation: splat 200ms normal forwards ease-in-out;

    &:nth-of-type(2n) {
      animation-delay: 50ms;
    }

    &:nth-of-type(4n) {
      animation-delay: 100ms;
    }

    [data-turbo-preview] & { animation: none; }
  }

  > * {
    grid-area: 1/1;
  }

  .splat__perma & {
    --splat-size: 50cqi !important;
  }
}

.splat__category {
  aspect-ratio: 1;
  background-color: var(--color-bg);
  border: 0.5em solid var(--splat-color);
  border-radius: 50%;
  color: var(--splat-color);
  display: flex;
  font-size: 5cqi;
  font-weight: 800;
  inset: auto auto 3cqi 3cqi;
  padding: 0.5em 1em;
  place-items: center;
  position: absolute;

  + & {
    inset: auto auto 0 24cqi;
  }
}

.splat__date {
  aspect-ratio: 1;
  background-color: var(--color-bg);
  border: 0.5em solid var(--splat-color);
  border-radius: 50%;
  color: var(--splat-color);
  display: flex;
  font-size: 5cqi;
  font-weight: 800;
  inset: 10cqi 5cqi auto auto;
  padding: 0.5em 1em;
  place-items: center;
  position: absolute;
}

.splat__link {
  color: var(--color-ink-reversed);
}

.splat__svg {
  fill: var(--splat-color);
  position: absolute;
  scale: 120%;
  transform: rotate(var(--splat-rotate));
  z-index: -1;
}

.splat__title {
  font-size: 10cqi;
  line-height: 1.2;
  margin: 12cqi 14cqi;

  -webkit-line-clamp: var(--lines, 3);
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: clip;
  white-space: normal;
}

.splats-list {
  --hover-size: 0;

  a {
    color: var(--color-txt);
    text-decoration: none;
  }

  li {
    border-radius: 0.6em;
    list-style: none;
    padding: 0.5em 1em;
    transition: background-color 0.2s ease;

    &:hover{
      background-color: var(--color-selected);
    }
  }
}

.splats-filter {
  li {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}
